RewriteEngine On

# Route requests to /hapax-finder
RewriteCond %{REQUEST_URI} ^/hapax-finder
RewriteCond %{DOCUMENT_ROOT}/hapax-finder -d
RewriteRule ^hapax-finder/(.*)$ /hapax-finder/$1 [L]

# Route all other requests to public_html
RewriteCond %{DOCUMENT_ROOT}/public_html -d
RewriteCond %{REQUEST_URI} !^/hapax-finder
RewriteRule ^(.*)$ /public_html/$1 [L]
