/* ===GENERAL TYPOGRAPHY & SPACING=== */

.loud-voice {
	font-family: var(--heading);
	font-size: clamp(var(--fontSize-1), 5vw, var(--fontSize-3));
}

.attention-voice {
	font-family: var(--heading);
	font-size: var(--fontSize-1);
	font-weight: 500;
}

.body-copy {
	line-height: var(--globalLineHeight);
	font-family: var(--body-copy);
	font-size: var(--fontSize-0);
}

.page-name {
	font-size: var(--fontSize-3);
	font-weight: 500;
}

.site-nav {
	font-size: var(--fontSize-1);
	font-weight: 600;
}

project-card .title {
	font-size: var(--fontSize-1);
	font-weight: 500;
	line-height: 1.4;
}

blog-card .title {
	font-size: var(--fontSize-1);
	font-weight: 500;
	line-height: 1.4;
}

blog-card .description {
	font-size: var(--fontSize-neg1);
	font-style: italic;
}

em {
	font-style: italic;
}

strong {
	font-weight: 600;
}

.mono, code {
	font-family: var(--mono);
}

:not(pre) > code {
	background-color: var(--subdued-accent);
	border-radius: 4px;
	padding-inline: 2px;
}

p a, ul:not(.site-nav) > li > a {
	&:hover, &:active {
		background-color: var(--accent);
	}
}
